*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
.container{
    width: 1150px;
    height: 250px;
    padding: 10px 0 0 20px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.row1{
    height:220px;
    width: 270px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: 10px;
}
.image1color{
    height: 100%;
    width: 100%;
    background: rgba(188,72,109,0.8);
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.image2color{
    height: 100%;
    width: 100%;
    background:rgba(233,79,113,0.8);
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.image3color{
    height: 100%;
    width: 100%;
    background:rgba(237,136,56,0.8);
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.image4color{
    height: 100%;
    width: 100%;
    background: rgba(244,183,65,0.8);
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}